<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>ionicframework</string>
	<key>CFBundleName</key>
	<string>Ionic Framework</string>
  <key>DocSetPlatformFamily</key>
  <string>ionic</string>
  <key>dashIndexFilePath</key>
  <string>docs/overview/index.html</string>
	<key>isDashDocset</key>
  <true/>
  <key>isJavaScriptEnabled</key>
  <true/>
  <key>DashDocSetFamily</key>
  <string>dashtoc</string>
</dict>
</plist>